body{
    background-color: rgb(78, 78, 76);
}
.box1 {
    width: 300px;
    background-color: rgb(132, 176, 88);
    border: 3px solid black;
    margin: 100px 380px;
    padding: 20px 150px;
    border-radius: 20px;

  }

  .img1 {

    border: 2px dashed black;
    margin-right: 20px;
    border-radius: 10px;
  }

  .Submit {
    background-color: rgb(159, 83, 83);
    color: black;
    padding: 5px 15px;
    margin-left: 120px;
    border-radius: 5px;
  }

  .para {
    margin-left: 40px;
    color: rgb(149, 71, 122);
    font-style: oblique;

  }